.container {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background-color: white;
    max-width: 1024px;
    min-height: 100%; 
    border-color: #cccccc;
    border-style: solid;
	margin: 0 auto !important; 
	float: none !important; 
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.navbar-brand {
    margin-left: 5%;
    margin-right: 7%;
}

.nav-item {
    padding-right: 7px;
}


.border-top {
    border-top: 1px solid #000000 !important;
}
