
<div class="container-fluid">
    <div class="row">
       <h1 class="page-title">Tasks</h1>
    </div>

    <div class="row">
      <div class="col-6">
         <button class="btn btn-secondary">
               <a href="/new_task" class="nav-link" routerLink="new_task">Add task</a>
         </button>
      </div>
   </div>
   <div class="row">
      <div class="col-12">
         <div *ngFor="let item of todoItems">
            <div class="task">
               <div class="col-12" id="task-body">
                  <div class="col-7" id="task-content">
                     <p class="task-title">{{ item.title }}</p>
                     <p>{{ item.description }}</p>
                     <p>{{ item.done }}</p>
                  </div>
                  <div class="col-3" id="task-content">
                     <div class="form-group">
                        <button class="btn btn-primary btn-block" id="btn">
                           Edit
                        </button>
                        <button class="btn btn-danger btn-block" id="btn">
                           Delete
                        </button>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
 </div>