#container {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background-color: white;
    max-width: 1024px;
    min-height: 100%; 
	margin: 0 auto !important; 
	float: none !important; 
    padding: 2em 1em 2em 1em !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-container {
    width: 25rem;
}